@using WebApplicationExample13.Models
@using WebApplicationExample13.Services
@{
    ViewBag.Title = "DisplayEmployees";
}

<h2>DisplayEmployees</h2>
@{ 
    MyLib lib = new MyLib();
    List<Employee> employeelist = lib.GetEmployeeList();
}
<h2>Employees List</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Salary</th>
    </tr>
    @{ 
        foreach(Employee e in employeelist)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Department</td>
                    <td>@e.Designation</td>
                    <td>@e.Salary</td>
                </tr>
            }
    }
</table>

